# CONFIGURACIÓN DE DJANGO
# IMPORTANTE: ¡En producción, DEBUG debe ser False!
DEBUG=True

# Genera una nueva clave para producción. Puedes usar un generador online de "Django Secret Key".
SECRET_KEY='tu-super-secreta-clave-de-produccion-aqui'

# Tus dominios de producción, separados por comas. Ej: 'www.mi-concurso.com,mi-concurso.com'
ALLOWED_HOSTS=127.0.0.1,localhost

# URL de la base de datos (Ejemplo para PostgreSQL)
DATABASE_URL=postgres://user:password@host:port/dbname